Package: proxydriver
Version: 1.62
Section: gnome
Priority: optional
Architecture: all
Depends: network-manager
Installed-Size: 10
Maintainer: Julien Blitte <julien.blitte@gmail.com>
Description: sets GNOME/KDE proxy settings using wifi NetworkManager profile name
 Proxydriver is little application which handles GNOME or KDE proxy settings
 using Network Manager's data.
 Each wifi connection triggers a reconfiguration of GNOME or KDE proxy, based on
 network profile name.
